* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    background-image: url("../images/Paris.jpg");
    background-position: top;
    background-size: cover;
    width: 100%;
}

#utama {
    width: 100%;
    height: 100px;
}

#utama img {
    float: left;
    height: 100px;
}
#utama h1 {
    text-decoration: none;
    font-size: 40px;
    font-family: sans-serif;
    color: black;
    line-height: 100px;
    margin-right: 15px;
    float: right;
}

#main-content {
    top: 20px;
    width: 90%;
    padding: 15px;
    margin: auto;
}

p {
    text-align: justify;
}

.kiri {
    box-sizing: border-box;
    float: left;
    border: 1px solid black;
    width: 60%;
    min-height: 800px;
    background-color: white;
    opacity: 0.8;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

#education thead {
    border: 1px solid black;
}

h1 {
    font-family: sans-serif;
    font-size: 25px;
    text-decoration: underline;
}

#favgames img {
    padding: 15px;
    height: 45px;
}

.kanan {
    box-sizing: border-box;
    float: right;
    border: 1px solid black;
    width: 40%;
    min-height: 800px;
    background-color: white;
    opacity: 0.8;
    padding-top: 15px;
    padding-left: 15px;

}

.kanan #travelling img {
    border-radius: 50%;
    padding: 15px;
    height: 90px;
}

.kanan #contact img {
    padding: 15px;
    height: 35px;
}