* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    background-image: url("../images/Paris.jpg");
    background-position: top;
    background-size: cover;
    width: 100%;
}

#utama a {
    text-decoration: none;
    font-size: 40px;
    font-family: sans-serif;
    color: black;
    line-height: 100px;
    padding-left: 15px;

}

#main-content {
    top: 20px;
    width: 100%;

}

p {
    text-align: justify;
}

.kiri {
    box-sizing: border-box;
    float: left;
    border: 1px solid black;
    width: 50%;
    min-height: 800px;
    background-color: white;
    opacity: 0.5;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.kiri tbody td {
    padding: 5px;
}

h1 {
    font-family: sans-serif;
    font-size: 25px;
    text-decoration: underline;
}

.kanan {
    box-sizing: border-box;
    float: right;
    border: 1px solid black;
    width: 50%;
    min-height: 800px;
    background-color: white;
    opacity: 0.5;
    padding-top: 15px;
    padding-left: 15px;

}